<% include header %>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h3><%= title %> </h3>
          <% if (error) { %>
          <span class="text-danger"><%= error %> </span>
          <% } %>
          <% if (success) { %>
          <span class="text-success"><%= success %> </span>
          <% } %>
          <form action="<%= action %>" method="post">
            <div class="form-group my-3">
              <label for="name">Name</label>
              <input required type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group my-3">
              <label for="parentcat">Category</label>
              <select onchange="loadSubCategory(event)" required style="text-transform: capitalize;" name="parentcat" id="parentcat" class="form-select">
                <option value="">Select</option>
                <% categories.forEach(element => { %>
                <option value="<%= element.catid %>"><%= element.name %></option>
                <% }) %>
              </select>
            </div>
            <div class="form-group my-3">
              <label for="subcategory">Sub Category</label>
              <select required style="text-transform: capitalize;" name="subcategory" id="subcategory" class="form-select">
                <option value="">Select</option>
              </select>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% include footer %>